@media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
  }
}
@media (max-width: 550px) {
  .hidden--mobile {
    display: none;
  }
}
header {
  background-image: url(https://farm9.staticflickr.com/8152/7460432496_10aaff5ee0_o_d.png);
  background-size: 75rem;
  height: 300px;
}

header > a {
  text-decoration: none;
  background-color: rgb(36, 207, 44);
  font-size: 1.5em;
  padding: 1.5rem;
  border-radius: 10px;
}

header * {
  display: -webkit-inline-box;
  justify-content: space-around;
  height: 100px;
}
footer {
  text-align: center;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(31, 71, 34);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(8, 116, 23);
}
.credit-report {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.credit-report li {
  list-style-position: outside;
}

#Credit > div > "column" {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
#Credit > div > "row" {
  content: "";
  display: table;
  clear: both;
}

#rcorners1 {
  border-radius: 25px;
  border: 2px solid #07122c;
  padding: 20px;
  width: auto;
  height: auto;
}

#Contact {
  box-sizing: border-box;
}

#Contact > input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#Contact > input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

#Contact > input[type=submit]:hover {
  background-color: #45a049;
}

#Contact > .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

#Contact > .column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

#Contact > .row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
body {
  background-color: #ace0a3;
}
#contact.container {
  min-height: 80vh;
}
.header {
  height: 60px;
  width: 100%;
}
h1 {
  margin: 0;
  text-align: center;
  font-family: "heading";
  padding-top: 10px;
}
.budget-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  min-height: 160px;
  font-weight: 900;
}
.budget-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 70px;
  font-size: 20px;
}
.exp-amount {
  color: #b80c09;
}
.amount {
  color: #317b22;
}
.col {
  width: 40%;
  text-align: center;
  text-transform: capitalize;
}
.col p {
  font-size: 40px;
  padding-top: 5px;
  margin: 0;
}

.budget-form {
  width: 100%;
  min-height: 200px;
}
form {
  margin: 10px 0 20px 10px;
  min-height: 100px;
}
input {
  width: 60%;
  padding: 8px 0;
  border-radius: 6px;
  border: 1px solid gray;
  margin: 20px 0;
  padding-left: 5px;
  color: #495057;
}
.budget-list .exp p {
  color: #b80c09;
  font-size: 18px;
}
#displayExpenses {
  width: 100%;
  display: none;
}
.expValue {
  display: flex;
  justify-content: space-around;
  height: 40px;
  font-weight: 900;
  text-align: center;
}
#expTitleName {
  width: 40%;
}
#expValueAmount {
  width: 40%;
}

#budget-form button {
  background: rgb(44, 131, 44);
  border: none;
  border-radius: 6px;
  color: #ffffff;
  padding: 10px 40px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
}

#expense-form {
  width: 100%;
  display: none;
}

#expense-form button {
  background: #b80c09;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  padding: 10px 30px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  color: rgb(10, 66, 19);
}
